* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/backgrouund.svg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons_top {
    width: 90%; 
    max-width: 400px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%);
}

.icons_top img {
    width: 18px;
    height: 18px;
}

.icons_top p {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

/* login */

.Login{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    justify-content: flex-start;
    position: absolute;
    top: 120px;
    left: 38%;
    color: #ffffff

     
}


.input-icon {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 78px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10%;
    position: absolute;
    top: 190px; 
    left: 41%;
}

.detail {
    position: absolute;
    top: 250px;  /* Ajusta según la esquina deseada */
    right: 155px; /* Ajusta según la esquina deseada */
    width: 20px; 
    height: 20px; 
    background-color: white; 
    border: 3px solid orange; 
    border-radius: 50%;

}

span{
    margin-right: 12px;
}